@import "tailwindcss";

@theme inline {
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-hover);

    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);

    --color-error: var(--color-error);
    --color-error-hover: var(--color-error-hover);

    --color-warning: var(--color-warning);
    --color-warning-hover: var(--color-warning-hover);

    --color-background: var(--color-background);
    --color-surface: var(--color-surface);
    --color-background-secondary: var(--color-background-secondary);
    --color-background-secondary-hover: var(--color-background-secondary-hover);

    --color-text: var(--color-text);
    --color-text-secondary: var(--color-text-secondary);
    --color-border: var(--color-border);
}

    [data-theme="light"] {
    /* ☀️ Світла тема (default) */
    --color-primary: #4F9DDE;
    --color-primary-hover: #3B82D6;

    --color-accent: #4CAF50;
    --color-accent-hover: #43A047;

    --color-error: #EF4444;
    --color-error-hover: #DC2626;

    --color-warning: #F59E0B;
    --color-warning-hover: #D97706;

    --color-background: #FFFFFF;
    --color-surface: #F4F6F8;
    --color-background-secondary: #5b6a83;
    --color-background-secondary-hover: #334155;

    --color-text: #111827;
    --color-text-secondary: #6B7280;
    --color-border: #E5E7EB;
    }

[data-theme="dark"] {
        /* 🌙 Темна тема */
        --color-primary: #3B82F6;
        --color-primary-hover: #2563EB;

        --color-accent: #10B981;
        --color-accent-hover: #059669;

        --color-error: #F87171;
        --color-error-hover: #DC2626;

        --color-warning: #FBBF24;
        --color-warning-hover: #D97706;

        --color-background: #111827;
        --color-surface: #1F2937;
        --color-background-secondary: #1b294a;
        --color-background-secondary-hover: #1E293B;

        --color-text: #F9FAFB;
        --color-text-secondary: #9CA3AF;
        --color-border: #374151;
    }

[data-theme="brand-orange"] {
        /* 🍊 Брендована помаранчева тема */
        --color-primary: #FF8C00;
        --color-primary-hover: #cc7000;

        --color-accent: #FFB347;
        --color-accent-hover: #FFA500;

        --color-error: #FF4D4D;
        --color-error-hover: #D42C2C;

        --color-warning: #FFD700;
        --color-warning-hover: #E6C200;

        --color-background: #FFFFFF;
        --color-surface: #FFF4E6;
        --color-background-secondary: #FFF0D9;
        --color-background-secondary-hover: #FFE4B5;

        --color-text: #2B2B2B;
        --color-text-secondary: #6C6C6C;
        --color-border: #E0E0E0;
    }